body{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.container{
    /* border: 1px solid gray; */
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h2{
    color: black;
    margin-bottom: 10px;
}

input,select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border:  1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button{
    width: 100%;
    background-color: rgb(29, 29, 232);
    border: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
p{
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width:480px){
    .container{
        width: 90%;
        padding: 20px;
    }
}