* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    margin: -10px;
    position: absolute;
}

.text {
    position: fixed;
    left: 50%;
    top: 0;
}