.home-container {
  display: flex;
}

/* Ensure the main content (like PostList) doesn't go behind the sidebar or navbar */
.home-container > *:not(.sidebar) {
  margin-top: 60px;
  margin-left: 200px;
  width: calc(100% - 200px);
  margin: 60px auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 620px) {
  .home-container > *:not(.sidebar) {
    margin-left: 30px;
    width: calc(100% - 30px);
  }
}
