* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: fixed;
    left: 0;
    top: 0;
}