*{
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
    border: 1px solid red;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
table{
    width: 50%;
    margin: auto;
}
tr th{
    padding: 0 40px;
}
tbody{
    height: 100px;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
}