#main-container {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #e6e6e6;
}
h1 {
  color: navy;
  font-size: 28px;
  background-color: #f0f0;
}
.highlighted-text {
  background-color: yellow;
  color: red;
}
