.recipe-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(221, 214, 214);
  border-radius: 5px;
}

.back-btn {
  margin-bottom: 15px;
  padding: 8px 12px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.detail-img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 15px auto;
  border-radius: 8px;
 
}

.favorite-btn {
  margin: 10px 0;
  padding: 10px 15px;
  cursor: pointer;
  background: #28775e;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.favorite-btn.unfavorite {
  background: #d9534f;
}

.video-container {
  margin-top: 20px;
}

.video-container iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
